

/* ================ Основная информация ================= */



.header_txt
{
    font-size: 30px;
    text-decoration: underline;
    display: flex;
    margin-bottom: 20px;
}
.txt
{
    font-size: 25px;
    display: flex;

}
.txt_bold
{
    font-weight: bold;
    margin-top: 10px;
}



.inforamation
{
    display: flex;
    justify-content: space-between;

    margin: 50px 10%;

    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 50px;
}

.container_inforamation
{
    margin-bottom: 50px;
}


/* =========== Номер телефона ============== */




.inforamation_header 
{
    font-size: 30px;  
    display: flex; 
    margin-left: 12%;
    margin-top: 20px;
}
#rate_name
{
    background-color: white;
    text-decoration: underline;
    font-size: 30px;
    display: flex;
    margin-left:  10px;
}

#rate_name:hover
{
    cursor: pointer;    
}


.information
{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
    padding: 25px 50px;
    margin: 10px 10%;
}

.information_block
{
    display: flex;
    flex-direction: column;
}







/* ================ таблица ================= */



*{
    margin: 0;
    padding: 0;
    border: 0;
}


.status
{
    border-radius: 100%;
    background-color: #6DD401;
    width: 25px;
    height: 25px;
    display: flex;
    margin: 0 10px;
}

/* ================ Шапка ================= */

.header
{
    display: flex;
    justify-content: space-between;
    padding: 20px 12%;
    font-size: 25px;
    border-bottom: 3px solid black;
}

.header_navigation
{
    display: flex;
    width: 600px;
    justify-content: space-between;
}
.header_navigation_btn
{
    display: flex;
    /* padding: 20px 12%; */
    font-size: 25px;
    /* border-bottom: 3px solid black; */
    background-color: white;

}


.header_navigation_btn:hover
{
    cursor: pointer;

}

.header_exit
{
    font-size: 25px;
    display: flex;

    background-color: white;
    color: red;
}

.header_exit:hover
{
    cursor: pointer;
}

/* таблицы */

.table
{
    border: 3px solid black;
    border-collapse: collapse;
    font-size: 25px;
    margin: 20px 12%;
    width: 76%;
}

.table_header
{
    font-size: 30px;
    /* text-decoration: underline; */
    margin-bottom: 20px;
    margin-left: 14%;
}


tr, td
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th
{
    border: 3px solid black;
    border-collapse: collapse;
}


.table_head
{
    font-weight:bolder;
}
.table_cell
{
    border: 1px solid black;

}


/* поиск */

.inputArea
{
    border: 1px solid black;
    padding: 2px;
    font-size: 15px;
}

.btn_find
{
    background-color: #0F97FF;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;

}

.btn_filter
{
    background-color: #0F97FF;
    color: white;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 3px;
    font-size: 20px;
}

.btn_filter:hover, .btn_find:hover
{
    cursor: pointer;
}


.getData_container
{
    padding: 0 30%;
    position: absolute;
    top: 50px;
}

.getData
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px 40px;
    align-content: stretch;

}


.getData_item
{
    display: flex;
    align-content: stretch;
    margin-top: 20px;
    white-space: nowrap
}

.getData_item_value
{
    font-size: 20px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    width: 100%;
}

.getData_buttons
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.getData_btn
{  
    font-size: 20px;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    margin: 0 20px;

}
.getData_btn:hover
{
    cursor: pointer;
}

.getData_btn_save
{
    background: green;
}

.getData_btn_cancel
{
    background: red;
}