

/* ================ Основная информация ================= */
.basicInformation
{
    /* display: none; */
}


.header_txt
{
    font-size: 30px;
    text-decoration: underline;
    display: flex;
    margin-bottom: 20px;
}
.txt
{
    font-size: 25px;
    display: flex;

}
.txt_bold
{
    font-weight: bold;
    margin-top: 10px;
}



.inforamation
{
    display: flex;
    justify-content: space-between;

    margin: 50px 10%;

    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 50px;
}

.container_inforamation
{
    margin-bottom: 50px;
}


/* =========== Номер телефона ============== */
.container_phoneNumber
{
    margin: 25px 10%;
    display: flex;
    align-items:center;
}

.phoneNumber
{
    font-size: 45px;
    display: flex;
}



/* =========== Тариф ============== */
.inforamation_header 
{
    font-size: 30px;  
    display: flex; 
    margin-left: 12%;
    margin-top: 20px;
}
#rate_name
{
    background-color: white;
    text-decoration: underline;
    font-size: 30px;
    display: flex;
    margin-left:  10px;
}

#rate_name:hover
{
    cursor: pointer;    
}


.information
{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
    padding: 25px 50px;
    margin: 10px 10%;
}

.information_block
{
    display: flex;
    flex-direction: column;
}

.rate_name
{
    margin-left: 12%;
    display: flex;
    align-items:center;
}

#rate_status
{
    width: 25px;
    height: 25px;
}



.btn_TopUpBalance
{
    color: white;
    background-color: #6DD401;

    height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn_TopUpBalance:hover
{
    cursor: pointer;
}


/* ================ таблица ================= */



