#page_help
{
    display: none;
}


.inputTextArea
{
    

    width: 650px;
    height: 200px;
    border: 1px solid black;
    resize: none;
}

.container_communicationMethod
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.inputArea
{
    font-size: 24px;
    display: flex;
    height: 25px;
    border: 1px solid black;
    margin: 0 10px;
    
}

.btn_submitForm
{
    background-color: #0F97FF;
    padding: 15px 30px;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 25px;
    color: white;
}

.btn_submitForm:hover {cursor: pointer;}