{% load static %}

<html>
<head>
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{% static 'user_lk_basicInformation.css' %}">
    <link rel="stylesheet" href="{% static 'user_lk_finance.css' %}">
    <link rel="stylesheet" href="{% static 'user_lk_help.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    


</head>

<body>
    <div class="header">

        <div class="header_navigation">
            <button class="header_navigation_btn" id="header_btn_basicInf">Основная информация</button >
            <button class="header_navigation_btn" id="header_btn_finance">Финансы</button >
            <button class="header_navigation_btn" id="header_btn_help">Помощь</button >
        </div>

        <button class="header_exit" id="header_exit_btn">Выйти</button>

    </div>



    <div class="pages" id="page_basicInformation">

        <div class="container_phoneNumber" >
            <div class="phoneNumber">Номер телефона: {{phoneNumber}}</div>
            <div class="status"></div>
        </div>

        <div class="container_inforamation">
            <div class="inforamation_header">Личные данные</div>

            <div class="information">
                <div class="information_block">
                    <div class="header_txt">ФИО</div>

                    <div class="txt">Фамилия: {{surname}}</div>
                    <div class="txt">Имя: {{name}}</div>
                    <div class="txt">Отчество: {{patronymic}}</div>
                    <div class="txt">Дата рождения: {{birthday}}</div>


                    
                    
                </div>
                
                <div class="information_block">
                    <div class="header_txt">Паспорт</div>
                    <div class="txt">Серия: {{passportSeries}}</div>
                    <div class="txt">Номер: {{passportNumber}}</div>
                </div>

            </div>


        </div>


        <div class="container_inforamation">
            <div class="inforamation_header">Тариф:  
                <button id="rate_name" >{{tariff_name}}</button>
                <div class="status" id="rate_status"></div>
            </div>
            
            <div class="information">

                <div class="information_block">                
                    <div class="header_txt">Праметры тарифа</div>

                    <div class="txt">Минуты: {{tariff_minutes}} мин.</div>
                    <div class="txt">SMS: {{tariff_sms}}</div>
                    <div class="txt">Интернет: {{tariff_internet}} Гб</div>

                    <div class="txt txt_bold">Стоимость: {{tariff_cost}}</div>
    
                </div>
        
                <div class="information_block">
                    <div class="header_txt">Остатки пакетов по тарифу</div>
    
                    <div class="txt">Минуты: 600</div>
                    <div class="txt">SMS: 20</div>
                    <div class="txt">Интернет: 30 Гб</div>

                    <div class="txt txt_bold">Баланс: {{balance}}р</div>
                    <button class="btn_TopUpBalance" >Пополнить</button>
                </div>
            </div>
        </div>

<!-- услуги -->

    <div class="table_header">Услуги</div>
    <table class="table">
        <tr>
            <th class="table_head">Статус</th>
            <th class="table_head">Услуга</th>
            <th class="table_head">Стоимость</th>
        </tr>


        {% for ts in tariffServices %}
        <tr>
            <td><button class="status"></button></td>
            <td>{{ts.services.name}}</td>
            <td>{{ts.services.cost}}</td>
        </tr>
        {% endfor %} 
        
    </table>    
    

    </div>

<!-- ================================ Финансы ================================ -->

    <div class="pages" id="page_finance">

        <div class="container_inforamation">


            
        </div>

        <div class="table_header">Детализация</div>
        <table class="table">
            <tr>
                <th class="table_head">Дата</th>
                <th class="table_head">Услуга</th>
                <th class="table_head">Стоимость</th>
            </tr>
    
            <tr>
                <td>14.03.2025 04:21</td>
                <td>Тариф "Мой онлайн"</td>
                <td>600р</td>
            </tr>
    
            <tr>
                <td>12.03.2025</td>
                <td>Доп. пакет 20Гб</td>
                <td>400р</td>
            </tr>

            <tr>
                <td>12.03.2025</td>
                <td>Доп. пакет 20Гб</td>
                <td>400р</td>
            </tr>
    
        </table> 


    </div>


<!-- ================================ Поддержка ================================ -->

    <div class="pages" id="page_help">  

        <div class="container_inforamation">
            <div class="inforamation_header">Помощь</div>

            <div class="information">
                <div class="information_block">
                    <div class="header_txt">Опишите свою проблему</div>
                    
                    <textarea name="" class="inputTextArea"></textarea>
               
                </div>
                
                <div class="information_block">
                    <div class="header_txt">Как с вами связаться?</div>
                    
                    <div class="container_communicationMethod"> 
                        <input type="radio" name="communicationMethod" class="inputArea"  id="radio_communicationMethod_phone" checked>
                        <div class="txt">Звонок</div>
                        <input type="text" class="inputArea inputArea_txt" id="inputArea_communicationMethod_phone">
                    </div>

                    <div class="container_communicationMethod"> 
                        <input type="radio" name="communicationMethod" class="inputArea" id="radio_communicationMethod_sms">
                        <div class="txt">SMS</div>
                        <input type="text" class="inputArea inputArea_txt" id="inputArea_communicationMethod_sms" disabled>
                    </div>

                    <div class="container_communicationMethod"> 
                        <input type="radio" name="communicationMethod" class="inputArea" id="radio_communicationMethod_email">
                        <div class="txt">email</div>
                        <input type="text" class="inputArea inputArea_txt" id="inputArea_communicationMethod_email" disabled>
                    </div>
                    
                    <button class="btn_submitForm">Отправить</button>
                </div>

            </div>


        </div>


        <div class="table_header">Мои заявки</div>
        <table class="table">
            <tr>
                <th class="table_head">ID</th>
                <th class="table_head">Дата начала</th>
                <th class="table_head">Дата окончания</th>
                <th class="table_head">Статус</th>
            </tr>
    
            <tr>
                <td>ТТ465123</td>
                <td>14.03.2025 04:21</td>
                <td>16.03.2025 04:21</td>
                <td>В работе</td>

            </tr>

            <tr>
                <td>ТТ465123</td>
                <td>14.03.2025 04:21</td>
                <td>16.03.2025 04:21</td>
                <td>В работе</td>

            </tr>
            <tr>
                <td>ТТ465123</td>
                <td>14.03.2025 04:21</td>
                <td>16.03.2025 04:21</td>
                <td>В работе</td>

            </tr>
    
        </table>

    </div>

    
    <script src="{% static 'change_page.js' %}"></script>
    <script src="{% static 'selectCommunicationMethod.js' %}"></script>
    <script src="{% static 'user_lk_exit.js' %}"></script>

</body>

</html>