{% load static %}

<html>
<head>
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{% static 'user_lk_basicInformation.css' %}">
    <link rel="stylesheet" href="{% static 'user_lk_finance.css' %}">
    <link rel="stylesheet" href="{% static 'user_lk_help.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    


</head>

<body>
    <div class="header">

        <div class="header_navigation">
            <button class="header_navigation_btn" id="header_btn_basicInf">Основная информация</button >
            <button class="header_navigation_btn" id="header_btn_finance">Финансы</button >
            <button class="header_navigation_btn" id="header_btn_help">Помощь</button >
        </div>

        <button class="header_exit" id="header_exit_btn">Выйти</button>

    </div>


    <input hidden type="text" id="hidden_PhoneNumber" value="{{phoneNumber}}">



    <div class="container_topUpBalance" id="WindowTopUpBalance">
        <div class="container_inforamation topUpBalance">
            <div class="header_txt">Данные банковской карты</div>
                    
                <div class="txt">Номер карты: </div>
                <input type="text" name="bankCard_number" id = "inputArea_bankCard_number" class="inputArea" minlength="16" maxlength="16">
                
                <div class="txt">Сумма: </div>
                <input type="number" name="bankCard_Value" id = "inputArea_bankCard_Value" class="inputArea">

                <div class="topUpBalance_buttonContainer">
                    <button class="btn_windowTopUpBalance" id="btn_windowTopUpBalance_accept">Пополнить</button>
                    <button class="btn_windowTopUpBalance" id="btn_windowTopUpBalance_cancel">Отменить</button>
                </div>
                    
            </div>
    </div>




    <div class="pages" id="page_basicInformation">

        <div class="container_phoneNumber" >
            <div class="phoneNumber" id="phoneNumber">Номер телефона: {{phoneNumber}}</div>

            {% if isActive == True %}
                <div class="status status_active"></div>
            {% else %}
                <div class="status status_blocked"></div>
            {% endif %}
            
        </div>

        <div class="container_inforamation">
            <div class="inforamation_header">Личные данные</div>

            <div class="information">
                <div class="information_block">
                    <div class="header_txt">ФИО</div>

                    <div class="txt">Фамилия: {{surname}}</div>
                    <div class="txt">Имя: {{name}}</div>
                    <div class="txt">Отчество: {{patronymic}}</div>
                    <div class="txt">Дата рождения: {{birthday|date:"j F Y" }}</div>


                    
                    
                </div>
                
                <div class="information_block">
                    <div class="header_txt">Паспорт</div>
                    <div class="txt">Серия: {{passportSeries}}</div>
                    <div class="txt">Номер: {{passportNumber}}</div>
                </div>

            </div>


        </div>


        <div class="container_inforamation">
            <div class="inforamation_header">Тариф:  
                <button id="rate_name" >{{tariff_name}}</button>
                <div class="status" id="rate_status"></div>
            </div>
            
            <div class="information">

                <div class="information_block">                
                    <div class="header_txt">Праметры тарифа</div>

                    <div class="txt">Минуты: {{tariff_minutes}} мин.</div>
                    <div class="txt">SMS: {{tariff_sms}}</div>
                    <div class="txt">Интернет: {{tariff_internet}} Гб</div>

                    <div class="txt txt_bold">Стоимость: {{tariff_cost}}</div>
    
                </div>
        
                <div class="information_block">
                    <div class="header_txt">Остатки пакетов по тарифу</div>
    
                    <div class="txt">Минуты: 600</div>
                    <div class="txt">SMS: 20</div>
                    <div class="txt">Интернет: 30 Гб</div>

                    <div class="txt txt_bold">Баланс: {{balance}}р</div>
                    <button class="btn_TopUpBalance" >Пополнить</button>
                </div>
            </div>
        </div>

<!-- услуги -->

    <div class="table_header">Услуги</div>
    <table class="table">
        <tr>
            <th class="table_head">Статус</th>
            <th class="table_head">Услуга</th>
            <th class="table_head">Стоимость</th>
        </tr>


        {% for ts in tariffServices %}
        <tr>
            <td><button class="status"></button></td>
            <td>{{ts.services.name}}</td>
            <td>{{ts.services.cost}}</td>
        </tr>
        {% endfor %} 
        
    </table>    
    

    </div>

<!-- ================================ Финансы ================================ -->

    <div class="pages" id="page_finance">

        <div class="container_inforamation">
            <div class="inforamation_header">Финансы</div>


            <div class="information">  
                <div class="information_block">
                    <div class="header_txt">Ифнормация о счёте</div>

                    <div class="txt">Размер АП: {{tariff_cost}}р</div>

                    <div class="txt">Дата предыдущего списания АП: 11.12.2025</div>
                    <div class="txt">Дата следующего списания АП: 11.01.2025</div>

                    <div class="txt txt_bold">Баланс: {{balance}}р</div>
                </div>

                <div class="information_block">
                    
                    <input type="hidden" name="form_id" value="getDetails">

                    <div class="header_txt">Параметры детализации</div>
                    
                    <div class="txt">Дата начала: <input type="datetime-local" name="detailsDateFrom" id = "inputArea_detailsDateFrom" class="inputArea" ></div>
                    <div class="txt">Дата конца: <input type="datetime-local" name="detailsDateTo" class="inputArea" id="inputArea_detailsDateTo"></div>
                    
                    <button class="btn_submitForm" id="btn_getDetalis">Заказать</button>
                

                </div>
                
            </div>
            
            <div class="table_header">История</div>

            <table class="table" id="table_financeHistory">
                <tr>
                    <th class="table_head">Дата</th>
                    <th class="table_head">Услуга</th>
                    <th class="table_head">Стоимость</th>
                </tr>
        
         
            </table>
        </div>

        


    </div>


<!-- ================================ Поддержка ================================ -->

    <div class="pages" id="page_help">  

        <div class="container_inforamation">
            <div class="inforamation_header">Помощь</div>

            <div class="information">
                <div class="information_block">
                    <div class="header_txt">Опишите свою проблему</div>
                    
                    <textarea name="" class="inputTextArea" id="application_question"></textarea>
               
                </div>
                
                <div class="information_block">
                    <div class="header_txt">Как с вами связаться?</div>
                    
                    <div class="container_communicationMethod"> 
                        <input type="radio" name="communicationMethod" class="inputArea"  id="radio_communicationMethod_phone" checked>
                        <div class="txt">Звонок</div>
                        <input type="text" class="inputArea inputArea_txt" id="inputArea_communicationMethod_phone">
                    </div>

                    <div class="container_communicationMethod"> 
                        <input type="radio" name="communicationMethod" class="inputArea" id="radio_communicationMethod_sms">
                        <div class="txt">SMS</div>
                        <input type="text" class="inputArea inputArea_txt" id="inputArea_communicationMethod_sms" disabled>
                    </div>

                    <div class="container_communicationMethod"> 
                        <input type="radio" name="communicationMethod" class="inputArea" id="radio_communicationMethod_email">
                        <div class="txt">email</div>
                        <input type="text" class="inputArea inputArea_txt" id="inputArea_communicationMethod_email" disabled>
                    </div>
                    
                    <button class="btn_submitForm" id="btn_CrateApplication">Отправить</button>
                </div>

            </div>


        </div>


        <div class="table_header">Мои заявки</div>
        <table class="table" id = "table_application">
            <tr>
                <th class="table_head">ID</th>
                <th class="table_head">Дата начала</th>
                <th class="table_head">Дата окончания</th>
                <th class="table_head">Статус</th>
            </tr>
                

            {% for el in application %}
            <tr class="applicationsTable_data"> 
                <td>{{el.id}}</td>
                <td>{{el.dateStart}}</td>
                <td>{{el.dateEnd}}</td>

                {% if el.status == "open" %}
                    <td>Открыта</td>
                {% else %}
                    <td>Закрыта</td>
                {% endif %}
            </tr>
            {% endfor %} 
        </table>

        

    </div>

    

    <div class="getApplication_container" id="getApplication" hidden>
    
        <div class="getApplication">
            <div class="getApplication_item">
                <div class="header_txt" >ID заявки: 
                    <input disabled type="text" class="getApplication_item_value" id="application_ID" >
                </div>
            </div>
    
            <div class="getApplication_item">     
                <div class="txt" >Номер абонента: 
                    <input disabled type="text" class="getApplication_item_value" id="application_PhoneNumber">
                </div>
            </div>
    
    
            <div class="getApplication_item_inline"> 
                <div class="txt">Статус</div>
                <select disabled class="getApplication_item_value" id="application_status">
                    <option value="open">Открыта</option>
                    <option value="close">Закрыта</option>
                </select>
            </div>
    
            <div class="getApplication_item_inline"> 
                <div class="txt">Дата открытия</div>
                <input disabled type="datetime" class="getApplication_item_value" id="application_dateStart">
            </div>
    
            <div class="getApplication_item_inline"> 
                <div class="txt">Дата закрытия</div>
                <input disabled type="datetime" class="getApplication_item_value" id="application_dateEnd">
            </div>
    
            <div class="getApplication_item">     
                <div class="txt" >Способ связи: 
                    <input disabled type="text" class="getApplication_item_value" id="application_communicationMethod">
    
                </div>
                
            </div>
    
            <div class="getApplication_item">     
                <div class="txt" >Контакт: 
                    <input disabled type="text" class="getApplication_item_value" id="application_contact">
                </div>
            </div>
    
            <div class="getApplication_item"> 
                <div class="txt">Ваш вопрос</div>
                <textarea disabled class="getData_textArea" id="form_application_question"></textarea>
            </div>
    
            <div class="getApplication_item"> 
                <div class="txt">Ответ на вопрос </div>
                <textarea class="getData_textArea" id="application_answer" disabled></textarea>
            </div>
    
                      
            <div class="getApplication_buttons"> 
                <button class="getApplication_btn getApplication_btnCancel" id="getApplication_btnCancel">Закрыть</button>
            </div>
        </div>
    
    
    </div>



    
    <script src="{% static 'change_page.js' %}"></script>
    <script src="{% static 'selectCommunicationMethod.js' %}"></script>
    <script src="{% static 'user_lk_exit.js' %}"></script>
    <script src="{% static 'getDetails.js' %}"></script>
    <script src="{% static 'topUpBalance.js' %}"></script>
    <script src="{% static 'userCreateApplication.js' %}"></script>

    <script src="{% static 'loadUserLk.js' %}"></script>

    
</body>

</html>